/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
	font-family: "Noto Sans", sans-serif;
}
header {
	background-color: #11324D;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 2px;
    border-radius: 8px;
}

 footer {
	background-color: #11324D;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 2px;
    border-radius: 8px;
}
header,
nav,
main,
footer {
	max-width: 1200px;
	margin: 0 auto;
    
}
h1{
	text-align: center;
	flex-grow: 1;
	font-family: Montserrat;
    color: #E7E0C9;
}
h2{
	text-align: center;
	font-family: Montserrat;
    color: #11324D;
    
}
footer p{
	text-align: center;
    color: #E7E0C9;
    

}

nav {
	background-color: #C1CFC0;
	text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 15px #6B7AA1;

	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    margin-top:15px;
    margin-bottom: 15px;
}



nav ul li a {
	display: block;
	color: #11324D;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1.2rem;
    font-weight: bold;
}
nav ul li a:hover {
    color: #6B7AA1;
}

.logo-box {

    margin-left: 10px;
}
.logo-box img {
    height: 70px;
    border-radius: 20px;

}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 1rem;
}

main section {
	margin: .5rem;
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: #ece8da;
    box-shadow: 0 2px 15px #6B7AA1;
    border-radius: 8px;
    line-height: 200%;
}

#primary {
	display:inline-block;
	border: 1px solid;
    border-radius: 20px;
	padding:8px;
	color: white;
    background-color: #11324D;
    box-shadow: 0 2px 15px #6B7AA1;
}
#second {
	display:inline-block;
	border: 1px solid;
    border-radius: 20px;
	margin-top: 5px;
	padding:8px;
    background-color: #ece8da;
    box-shadow: 0 2px 15px #6B7AA1;
}
#acc1 {
	display:inline-block;
	border: 1px solid;
	margin-top: 5px;
	padding:8px;
    border-radius: 20px;
    background-color: #C1CFC0;
    box-shadow: 0 2px 15px #6B7AA1;
}
#acc2 {
	display:inline-block;
	border: 1px solid;
	margin-top: 5px;
	padding:8px;
    border-radius: 20px;
    background-color: #6B7AA1;
    box-shadow: 0 2px 15px #6B7AA1
}
#acc3 {
	display:inline-block;
	border: 1px solid;
	margin-top: 5px;
	padding:8px;
    border-radius: 20px;
    background-color: #36454f;
	color: white;
    box-shadow: 0 2px 15px #6B7AA1
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
	}

	/* Flex *********************/
	 	nav ul { display: flex; }
		nav ul li { flex: 1 1 auto; } 
        main {
            grid-template-columns: 1fr 1fr;
        }
        article:nth-child(3) {
            grid-column: span 2;
        }
        main picture {
            display: block;
        }
        main picture img {
            width: 100%;
            height: auto;
            border: 1px solid #bbb;
        }
        header,
        nav,
        main,
        footer {
            max-width: 700px;
            margin: 0 auto;
            display: block;
        }
		header {
	
			display: flex;
			flex-grow: column;
			align-items: center;
			justify-content: flex-start;
			padding: 2px;
		}
		h1 {
			flex-grow: 1;
		}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}

    header,
        nav,
        main,
        footer {
            max-width: 1200px;
            margin: 0 auto;
            display: block;
}
header {
	
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 2px;
}
h1 {
	flex-grow: 1;
}
}